:root{
    --color-principal: #606060;
    --color-contenedores: #a0a0a0;
    --color-aleatorio: rgba(163, 162, 162, 0.452);
    --fuente:'Open Sans', sans-serif;
}

.content-center{
    padding-top: 20px;
}

.card{
    width: 95%;
    height: 95%;
}

.img-fluid{
    padding-left: 20px;
    margin-top: 20px;
}

.celda{
    width: 98.4%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 2px solid var(--color-contenedores);
    border-bottom: 2px solid var(--color-contenedores);
}

@media (min-width: 1025px){
    .e-e{
        width: 100%;
    }
}

@media (max-width: 540px){
    .e-e{
        width: 100%;
    }
}